.apropos{
    padding: 8rem;
    background-color: $gris;
    p{
        padding-top: 2rem;
        color: $bleu-gris;
    }
}
.parcours{
    grid-template-columns: 2;
    grid-template-rows:1;
    grid-gap: 3rem;
    display: grid;;
}

.etudes{
    grid-row: 1;
    grid-column: 1;
    background-color: $bleu-gris;
    min-height: 30rem;
    min-width: 20rem;
    margin-top: 3rem;
    border-radius: 0.5rem;;
}

.job{
    grid-row:1/1;
    grid-column: 2;
    background-color:$bleu-gris;
    margin-top: 3rem;
    min-width: 20rem;
    border-radius: 0.5rem;
}

.subtitle{
    margin: 2rem 0;
    text-align: center;
}