.apropos{
    padding: 8rem 8rem 2rem 8rem ;
    background-color: $gris;
    .para{
        padding-top: 2rem;
        color: $bleu-gris;
        text-align: center;
    }
}

.titre-apropos{
    text-align: center;
}
.parcours{
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    grid-gap: 3rem;
    display: grid;
}


.etudes{
    grid-row: 1;
    grid-column: 1;
    min-height: 33rem;
    min-width: 20rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
}

    .entries{
        min-height:100%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top:3rem;
            left:50%;
            bottom:4rem;
            transform:translateX(-50%);
            width:3px;
            background-color:$bleu-gris;
           
          }
    }
   
    .entry {
        width:calc(50% - 4rem);
        float:left; 
        padding:2rem;
        clear:both;
        text-align:right;
            &:not(:first-child) {
             margin-top:-4rem;
            }
        &:nth-child(2n) {
          text-align:left;
          float:right;
          .title {
            &:before {
              left:-6.5rem;
            }
          }
        }
    }
            
    .desc-text {
                color:$gris-pale;
                font-size: 1rem;
                margin-bottom: 1.5rem;
            }
            
        

        .title {
            font-size:2rem;
            margin-bottom:0.8rem;
            position: relative;
            color: $bleu-gris;
            &:before {
              content: '';
              position: absolute;
              width:0.5rem;
              height:0.5rem;
              border:0.25rem solid $jaune;
              background-color: $bleu-gris;
              border-radius:100%;
              top:50%;
              transform:translateY(-50%);
              right:-6.5rem;
              z-index:1000;
            }
          }
.job {
    text-decoration: none;
    color: $bleu-gris;
    transition: color 0.3s;
    &:visited{
        text-decoration: none;
        color: $bleu-gris;
    }
    &:hover{
        color: $jaune;
    }
}

.subtitle{
    margin: 2rem 0;
    text-align: center;
}

.cv {
    margin: 0 auto;
    text-align: center;
    width: 100%;

}

// ----------------- MEDIA - QUERIES ----------- //

@media(max-width: 767px){
    .apropos{
        padding: 5rem 2rem;
    }

    .title {
        font-size:1rem;
        margin-bottom:0.6rem;
        position: relative;
        color: $bleu-gris;
}

.desc{
    padding-bottom: 2rem;
}
.job {
    font-size: 0.8rem;
    
}
.desc-text{
    font-size: 0.8rem;
}

.entry{
    margin: 0;
}

.hide{
    display: none;
}
}