* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Convergence', sans-serif;  
}


h1{
    font-size: 6rem;
    color: $texte-clair;
    grid-column: 1/1;
    grid-row:1/1;
    margin-bottom: 2rem;
    color: $gris;
}

h2{
    font-size: 3.3rem;
    color: $bleu-gris;
    margin: 2rem 0 0 0;
}

h3{
    font-size: 2rem;
    color:$bleu-gris;
}

p{
    color: $texte-clair;
    font-size: 1.3rem;
}