.contact {
    background-color: $bleu-gris;
    padding: 6rem 8rem;
    text-align: center;

    p{
        color: $gris;
        font-size: 0.8rem;
    }
}


.res{
    i{
        margin: 2rem 1.5rem 2rem 1rem;
        font-size: 1.5rem;
        color: $gris;
        transition: color 0.3s;

        &:hover{
            color: $jaune;
        }
    }
}

// ------------------ MEDIA-QUERIES ------------------//

@media(max-width: 767px){
.contact {
    padding: 6rem 4rem;
    }
}