.contact {
    padding: 6rem 8rem;
}

.container{
    display: inline-block;
    background-image: linear-gradient(to right, $jaune 50%, $jaune 50%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 6px 3px;
    
}