.skills{
    padding: 2rem 8rem 4rem 8rem;
    background-color: $bleu-gris;
    height: 40rem;
    display: grid;
    grid-template: 1fr 2fr / 1fr 1fr 1fr;
    row-gap: 4rem;

    li{
        list-style: none;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        color: $gris;
    }

}
.comp{
    grid-row: 1/1;
    grid-column:1/1;
    color: $gris;
}
.tools-un {
    grid-row: 2/2;
    grid-column:1/1;
    
}

.tools-deux{
    grid-row:2/2;
    grid-column:2/2;
}

.tools-trois{
    grid-row:2/2;
    grid-column:3/3;
}